.card-container {
    width: 500px;
    margin: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.4s;
    animation: ease-in-out;
    text-align: center;
}
.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.image-container img {
    width: 500px;
    overflow: hidden;
    height: 400px;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

h3, p {
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 0.rem;
    margin: 0.5rem;
    background-color: #dbd8d6;
    border: none;
    transition: 0.2s;
    text-decoration: none;
    font-weight: bold;
    color: #969696;
}

