body{
    background-color: #dbd8d6;
   }

  
.form {
    text-align: center;
    font-weight: bold;
    background-color:rgb(184, 182, 182);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
}


.form h1 {
    font-size: 56px;
}

.form input[type=text] {
    width: 20%;
    padding: 8px 20px;
    margin: 15px 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    align-self: center;
  }

.form input[type=password] {
    width: 20%;
    padding: 8px;
    margin: 15px 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    align-self: center;


  }


.form input[type=submit] {
    background-color: rgb(156, 156, 156);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 22px; 

}