
.navul{
    display: flex;
    justify-content: end;
    background-color: #b9b7b7;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    top: 0px;
}


.navul li{
    list-style: none;
    margin: 10px 25px;
    text-decoration: none;
}

.navul a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(49, 47, 47);
    background-color: #b9b7b7;
    border-radius: 30px;
    padding: 10px;
    text-decoration: white;
    margin: 5px;
    transition: all 0.5s ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    
}
.active{
    border-bottom: black;
}
.navul a:hover{
    background-color: rgb(49, 47, 47);
    color: #e2e2e2;
    text-decoration: #e2e2e2;
    
}

.ul select {
      outline: none;
      background-attachment: fixed;
      background-color: blanchedalmond;

}